@use '../util' as *;


.header{
    opacity: 0;
    margin-top: rem(50);
    margin-left: rem(50);
    //text-shadow: 2px 2px 10px var(--light-bg);
    @include breakpoint(medium){
        display: flex;
        justify-content: space-between;
    }
    @media (prefers-color-scheme: light){
        text-shadow: none;
    }

    @include breakpoint-down(small){
        margin-left: rem(0);
    }

    animation: fadeInAnimation ease 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-delay: 0.2s;

    &__subtitles{
        font-size: rem(28);
        font-weight: 700;
        color: var(--dark-text-1);
    }
    &__toggle{
        position: relative;
        height: rem(77.59);
        width: rem(213.22);
        @include breakpoint-down(small){
            margin-top: rem(30);
        }
        

    }
}