@use '../util' as *;


.card{
    position: relative;
    background: var(--dark-card);
    color: var(--dark-text1);
    width: rem(255);
    height: rem(216);
    padding-top: rem(24);
    text-align: center;
    border-radius: rem(4);
    @include breakpoint-down(medium){
        margin-bottom: rem(60);
    }
    transition: background 150ms ease-in-out;
    &:hover{
        background: var(--dark-card-hover);
    }
    
    &__icon{
        padding-left: rem(50);
        &--small{
            padding-right: rem(35);
        }

    }
    &__facebook{
        border-top: rem(4) solid var(--facebook);
        opacity: 0;
        animation: fadeInAnimation ease 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    &__twitter{
        border-top: rem(4) solid var(--twitter);
        opacity: 0;
        animation: fadeInAnimation ease 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-delay: 0.2s;
    }

    &__instagram{
        &::before{
            background: linear-gradient(225deg,var(--instagram-start) 0,var(--instagram-end) 98.02%);
            border-top-left-radius: 0.1875rem;
            border-top-right-radius: 0.1875rem;
            content: "";
            display: block;
            height: 0.3125rem;
            position: absolute;
            top: 0;
            width: 100%;
        }
        opacity: 0;
        animation: fadeInAnimation ease 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-delay: 0.4s;
    }
    

    &__youtube{
        border-top: rem(4) solid var(--youtube);
        &:hover{
            background: var(--dark-card-hover);
        }
        opacity: 0;
        animation: fadeInAnimation ease 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-delay: 0.6s;
    }

    &__top{
        display: flex;
        justify-content: space-between;
    }
    &__bottom{
        display: flex;
        justify-content: space-between;
    }

    &__platform{
        display: flex;
    }

    &__small{
        opacity: 0;
        display: block;
        flex-direction: row;
        background: var(--dark-card);
        color: var(--dark-text1);
        width: rem(255);
        height: rem(116);
        padding-top: rem(24);
        border-radius: rem(4);
        @include breakpoint-down(medium){
            margin-bottom: rem(60);
        }
        &__platform{
            display: flex;
        }
        &:hover{
            background: var(--dark-card-hover);
        }
        animation: fadeInAnimation ease 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-delay: 1.4s;
    }
 
    &__username{
        padding-left: rem(20);
        font-weight: bold;
        font-size: rem(16);
    }
    &__count{
        &--big{
            padding-top: rem(18);
            font-size: rem(40);
            font-weight: bold;
            color: var(--light-bg);
            //text-shadow: 2px 2px 10px var(--light-bg);
        }
        &--small{
            font-size: rem(20);
            font-weight: bold;
            padding-right: rem(30);
            padding-top: rem(15);
            color: var(--light-bg);
            //text-shadow: 2px 2px 10px var(--light-bg);
        }
    }
    &__label{
        color: var(--dark-text-1);
        font-size: rem(14);
        letter-spacing: rem(5);

        &--small{
            color: var(--dark-text-1);
            font-size: rem(16);
            font-weight: bold;
            top: rem(10);
            padding-left: rem(30);
        }
    }

    &__change{
        &--up{
            padding-top: rem(20);
            font-size: rem(14);
            font-weight: bold;
            color: var(--limegreen);
            //text-shadow: 2px 2px 10px green;


            &--small{
            padding-top: rem(20);
            padding-left: rem(30);
            font-size: rem(14);
            font-weight: bold;
            color: var(--limegreen);
            //text-shadow: 2px 2px 10px green;
            }
        }

        &--down{
            padding-top: rem(20);
            font-size: rem(14);
            font-weight: bold;
            color: var(--brightred);
            //text-shadow: 2px 2px 10px red;

            &--small{
                padding-top: rem(20);
                padding-left: rem(30);
                font-size: rem(14);
                font-weight: bold;
                color: var(--brightred);
                //text-shadow: 2px 2px 10px red;
            }
            
        }
    }

    


}