@use '../util' as *;

.legend{
    margin-left: rem(55);
    @include breakpoint-down(small){
        justify-content: center;
        margin-left: rem(45);
    }
    font-weight: bold;
}

.toggle{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border: 0px black dashed;
    gap: rem(0.3) rem(12);
    @include breakpoint-down(small){
        align-items: center;
        padding-left: rem(40);
    }

    label{
         &[for ='dark']{
            grid-column: 1/2;
            justify-self:end;
         }
         
         &[for='system']{
            grid-column: 2/3;
            grid-row: 2/3;
            justify-self: center;
            
         }

         &[for='light']{
            grid-column: 3/4;
            justify-self: left;
            
         }
         
    }
    
    &__wrapper{
        position: relative;
        grid-column: 2/3;
        grid-row: 1/2;
        height: rem(24);
        width: rem(55);
        top: rem(5);
        }

    input[type = "radio"]{
        opacity: 1;
        margin: 0;
        width: rem(16);
        height: rem(16);
        bottom: rem(8);
    }

    &__background{
        height: 100%;
        display: block;
        position: absolute;
        width: 100%;
        left: rem(-1);
        bottom: rem(4);
        border-radius:rem(12);
        background: linear-gradient(225deg, var(--toggle-bg-end) 0%, var(--toggle-bg-start) 98.02%);
        pointer-events: none;
        //opacity: 0.5;
    }

    &__light{
        position: absolute;
        left: rem(35);
        bottom: rem(-20);
    }
    &__button{
        position:absolute;
        width: rem(18);
        height: rem(18);
        border-radius: 100%;
        border: rem(2) solid;
        background-color: var(--dark-bg);
        left: rem(2);
        top: rem(-1);
        opacity: 1;
        transition: all 150ms ease-in-out;
        pointer-events: none;
        @media (prefers-color-scheme: light){
            border: none;
        }

    }

    #light:checked ~ .toggle__button {
        left: calc(100% - rem(20));
        }

    #system:checked ~ .toggle__button{
        left: 33%;
    }
        
}