@use '../util' as *;



.container1{
    // 25 pixels left and right, 0 top and bottom padding space
    margin: rem(40) rem(-10) rem(46);
    max-width: rem(1920);
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    @include breakpoint(large){
        gap: rem(30);
    }

    // call the function to create a media query for desktop
    @include breakpoint-down(medium){
        display: grid;
        grid-template-columns: auto auto;
    }

    @include breakpoint-down(small){
        display: grid;
        grid-template-columns: auto;
        padding: 0;
    }
}